<ion-content fullscreen="true">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Skills</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid class="ion-padding-top">
        <ion-row *ngFor="let skillType of skills">
            <ion-col size="12" size-md class="ion-no-padding">
                <ion-item-group>
                    <ion-item-divider color="primary">
                        <ion-label>{{skillType.type}}</ion-label>
                    </ion-item-divider>

                    <ion-item *ngFor="let skill of skillType.skillList">
                        <ion-icon
                            class="
                                ion-padding-end
                                ion-padding-top
                                ion-padding-bottom
                            "
                            name="{{skill.icon}}"
                            src="{{skill.icon}}"
                        ></ion-icon>
                        <ion-label> {{skill.name}} </ion-label>

                        <div class="skill-bar">
                            <div
                                *ngFor="let item of [].constructor(skill.level)"
                                class="skill-filled"
                            ></div>
                            <div
                                *ngFor="let item of [].constructor(maxSkillLevel - skill.level)"
                                class="skill-clear"
                            ></div>
                        </div>
                    </ion-item>
                </ion-item-group>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
