.skill-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    max-width: 200px;

    div {
        height: 3px;
        width: 17%;
        border-radius: 1px;
    }
}

.skill-filled {
    background: var(--ion-color-secondary);
}

.skill-clear {
    background: transparent;
}
