<ion-content fullscreen="true">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Projects</ion-title>
        </ion-toolbar>
    </ion-header>

    <ng-container *ngFor="let project of projects">
        <ion-card #cardcontent>
            <ion-card-header>
                <ion-card-title>{{project.title}}</ion-card-title>
                <ion-card-subtitle>{{project.description}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <div class="ion-margin-end ion-margin-bottom">
                    <ion-badge
                        *ngFor="let technology of project.technologies"
                        class="ion-margin-end"
                        color="secondary"
                        >{{technology}}</ion-badge
                    >
                </div>

                <div class="img-wrapper">
                    <ion-img
                        *ngIf="project.image"
                        [src]="'assets/img/projects/'+project.image"
                        [ngStyle]="!!project.imageMaxWidth && projectImage?.el.clientWidth > project.imageMaxWidth && {'max-width.px': project.imageMaxWidth}"
                        [ngStyle]="!!project.fillImgBackground && {'background-color': project.fillImgBackground}"
                    ></ion-img>
                </div>

                <ion-buttons class="ion-padding">
                    <ion-button
                        *ngIf="project.liveDemoUrl"
                        href="{{ project.liveDemoUrl }}"
                        color="primary"
                        fill="solid"
                        target="_blank"
                        class="ion-padding-end"
                    >
                        <ion-icon slot="start" name="cloud"></ion-icon>
                        Live Demo
                    </ion-button>

                    <ion-button
                    *ngIf="project.apiDefinition"
                    color="primary"
                    fill="solid"
                    href="{{ project.apiDefinition }}"
                    target="_blank"
                >
                    API Definition
                </ion-button>

                    <ion-button
                        *ngIf="project.sourceCodeUrl"
                        color="tertiary"
                        fill="solid"
                        href="{{ project.sourceCodeUrl }}"
                        target="_blank"
                    >
                        <ion-icon slot="start" name="logo-gitlab"></ion-icon>
                        Source Code
                    </ion-button>


                </ion-buttons>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ion-content>
