<ion-content [fullscreen]="true" #content overflow-scroll="true">
    <ion-header id="main-content" [translucent]="true">
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>About</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="top-info">
        <ion-list>
            <ion-item>
                <ion-icon
                    src="assets/icon/mobile.svg"
                    class="ion-padding-end"
                ></ion-icon>
                <ion-label>Full Stack Developer</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon
                    src="assets/icon/robot.svg"
                    class="ion-padding-end"
                ></ion-icon>
                <ion-label>Smart Machines and IoT</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="car" class="ion-padding-end"></ion-icon>
                <ion-label>Cloud Connected Vehicles</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="rocket" class="ion-padding-end"></ion-icon>
                <ion-label>Space Enthusiast</ion-label>
            </ion-item>
        </ion-list>
        <ion-img class="photo" [src]="'assets/img/photo.jpg'"></ion-img>
    </div>

    <ion-list>
        <ion-item-group>
            <ion-item-divider sticky>
                <ion-label>Work Experience</ion-label>
            </ion-item-divider>
            <ng-container *ngFor="let work of workExperienceList">
                <ion-item (click)="toggleItem(work.description+work.period)">
                    <ion-thumbnail slot="start">
                        <img [src]="'assets/img/companies/' + work.image" />
                    </ion-thumbnail>
                    <ion-label>{{work.workplace[0]}}</ion-label>
                </ion-item>
                <ion-item
                    *ngIf="listItemsOpen.has(work.description+work.period) || true"
                    id="{{work.description+work.period}}"
                >
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title
                                >{{work.description}}</ion-card-title
                            >
                            <ion-card-subtitle
                                >{{work.period}}</ion-card-subtitle
                            >
                            <ion-card-subtitle
                                >{{work.location[0]}}
                                <ion-icon
                                    class="flag"
                                    [src]="'assets/icon/'+work.location[1]+'.svg'"
                                ></ion-icon>
                            </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-list>
                                <ng-container
                                    *ngFor="let achievement of work.achievements"
                                >
                                    <ion-item class="achievement-item">
                                        {{achievement}}
                                    </ion-item>
                                </ng-container>
                            </ion-list>
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </ng-container>
        </ion-item-group>
    </ion-list>
</ion-content>
