.top-info {
    display: flex;
    flex-direction: row;
}

.photo {
    width: 25%;
    max-width: 150px;
}

ion-card {
    width: 100%;
}

.flag {
    transform: translateY(20%);
}

.achievement-item {
    // padding-top: 6px;
    // padding-bottom: 6px;
    margin-bottom: 6px;
}
