<ion-app [class.dark-theme]="false">
    <ion-content>
        <ion-split-pane when="lg" contentId="main-content"
            ><ion-menu contentId="main-content">
                <ion-header id="main-content" [translucent]="true">
                    <ion-toolbar color="secondary">
                        <ion-title> Marcello Chiaramonte</ion-title>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list lines="none">
                        <ion-menu-toggle
                            autoHide="false"
                            *ngFor="let p of appPages; let i = index"
                        >
                            <ion-item
                                [routerLink]="p.url"
                                routerLinkActive="selected"
                                routerDirection="forward"
                                detail="false"
                            >
                                <ion-icon
                                    slot="start"
                                    [name]="p.icon + '-outline'"
                                ></ion-icon>
                                <ion-label>
                                    {{ p.title }}
                                </ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>

                    <ion-list lines="none">
                        <ion-list-header> Contact </ion-list-header>

                        <ion-menu-toggle autoHide="false">
                            <ion-item
                                href="{{ linkedinAccount }}"
                                target="_blank"
                            >
                                <ion-icon
                                    slot="start"
                                    name="logo-linkedin"
                                ></ion-icon>
                                <ion-label> LinkedIn </ion-label>
                            </ion-item>
                        </ion-menu-toggle>

                        <ion-menu-toggle autoHide="false">
                            <ion-item href="{{ xingAccount }}" target="_blank">
                                <ion-icon
                                    slot="start"
                                    name="logo-xing"
                                ></ion-icon>
                                <ion-label> Xing </ion-label>
                            </ion-item>
                        </ion-menu-toggle>

                        <ion-menu-toggle autoHide="false">
                            <ion-item href="{{ email }}">
                                <ion-icon slot="start" name="mail"></ion-icon>
                                <ion-label> Email </ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>
                    <ion-menu-toggle autoHide="false">
                        <ion-item
                            [routerLink]="'/about/scan'"
                            routerLinkActive="active"
                            routerDirection="forward"
                            detail="false"
                        >
                            <ion-icon
                                slot="start"
                                [name]="'phone-portrait-outline'"
                            ></ion-icon>
                            <ion-label> Open on mobile </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-content>
            </ion-menu>

            <ion-router-outlet id="main-content"></ion-router-outlet>
        </ion-split-pane>
    </ion-content>
</ion-app>
