<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
        <ion-title>Scan to open on mobile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="fixed-height">
    <div class="img-wrapper">
        <ion-img class="qr-code" [src]="'assets/img/qrcode.svg'"></ion-img>
    </div>
</ion-content>
