.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.qr-code {
    width: 65%;
    max-width: 350px;
}
